body {
    margin: 0;
    font-family: Segoe UI, Arial;
    background-color: rgb(43,43,43);
    color: rgb(221, 221, 221);
}

h1 {
    text-align: center;
    padding: 0.625rem;
    background: rgb(31, 31, 31);
    margin: 0;
}

#layout {
    display: flex;
    height: calc(100vh - 3.75rem);
}


#boxesArea {
    flex: 3;
    overflow-y: auto;
    padding: 0.938rem;
}


#editorPanel {
    flex: 1;
    background-color: rgb(31, 31, 31);
    padding: 0.938rem;
    border-left: 0.125rem solid rgb(68, 68, 68);
}

.box {
    margin-bottom: 1.25rem;
}

.box h3 {
    margin: 0.313rem 0;
    color: rgb(170, 170, 170);
}


.slot {
    width: 4rem;
    height: 4rem;
    border: 0.063rem solid rgb(68, 68, 68);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.125rem;
    background-color: rgb(51, 51, 51);
    transition: 0.15s;
}

.slot:hover {
    background-color: rgb(85, 85, 85);
    border-color: rgb(0, 191, 255);
    cursor: pointer;
}

.slot img {
    max-width: 3.5rem;
}


input, select {
    width: 100%;
    padding: 0.313rem;
    margin-bottom: 0.625rem;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border: 0.063rem solid rgb(85, 85, 85);
}

button {
    background-color: rgb(0, 191, 255);
    border: none;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
}
